Django==4.2.16
djangorestframework==3.14.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
whitenoise==6.6.0
django-cors-headers==4.3.1
drf-yasg==1.21.7
python-decouple==3.8
Pillow==10.4.0
django-filter==23.3
python-telegram-bot==20.6
pytz==2023.3
requests